.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;

  padding: 0.5rem 1.5rem;

  width: 100%;
  max-width: 50rem;

  background-color: #fff;
  border-radius: 8px;
}

.icon_search {
  margin-right: 1.5rem;
  font-size: 1.8rem;
}

.input {
  padding: 0;

  width: 100%;

  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.01rem;

  border: none;
  outline: none;

  &::placeholder {
    color: #939393;
  }
}
