.container {
  display: flex;
  align-items: center;

  padding: 8px 16px;

  width: 700px;

  background-color: #fff;
  border: 1px solid purple;
  border-radius: 8px;
}

.icon_search {
  margin-right: 8px;
  font-size: 24px;
}

.input {
  padding: 0;

  width: 100%;

  font-size: 24px;
  line-height: 1;

  border: none;
  outline: none;
}
